- if diary.errors.any?
  %p#error(style="display: none;") 【Input Error】Please check the input.
= render 'preview', diary: diary
= simple_form_for diary do |f|
  .row
    .col.s10.offset-s1
      = f.input :word, class: 'input-field', input_html: { autocomplete: 'off'} , error: { class: 'invaid' }, label_html: { 'data-error': 'wrong' }
      = f.input :image, as: :file, label: m_icon(:file_upload)
      .row
        .col.s4
          %label Temperature
          .switch
            %label
              = f.check_box :show_temp
              %span.lever
        .col.s4
          %label Weather
          .switch
            %label
              = f.check_box :show_weather
              %span.lever
        .col.s4
          %label Date
          .switch
            %label
              = f.check_box :show_date
              %span.lever
      .row
        .col.s4
          = f.hidden_field :temperature
          = f.hidden_field :weather
          = f.hidden_field :weather_icon
          = f.hidden_field :post_date
          = f.hidden_field :place
          = f.hidden_field :text_color
          %button.btn.waves-effect.waves-light(type="submit")
            = m_icon :send
        .col.s4.offset-s4
          - if diary.id.present?
            = link_to diary_path(diary), method: :delete, class: ['btn', 'waves-effect', 'red', 'no-barba'] do
              = m_icon :delete_forever
