.row
	.col.s12.m8.l6
		.preview-container
			.preview-container-inner
				.preview-container-content
					= diary_image diary, origin: true, id: :preview
					.word-container
						.word-container-inner
							#preview-word
								= diary.word
					.place-container
						.place-container-inner
							#preview-place
								= diary.place
					.temp-container.bottom-line
						.temp-container-inner
							#preview-temp
								= diary.temperature
					.weather-container.bottom-line
						.weather-container-inner
							#preview-weather
								= weather_icon diary.weather_icon
					.date-container.bottom-line
						.date-container-inner
							#preview-date
								= diary.post_date
:javascript
	window.weather_mappings = #{weather_mappings.to_json.html_safe};
