.row
	.col.s12.m8.l6
		.preview-container
			.preview-container-inner
				.preview-container-content
					= diary_image diary, clz: :materialboxed, id: :preview
					.word-container
						.word-container-inner
							#preview-word
								= diary.word
					.place-container
						.place-container-inner
							#preview-place
								= diary.place
					.temp-container
						.temp-container-inner
							#preview-temp
								= diary.temperature
					.weather-container
						.weather-container-inner
							#preview-weather
								%img
					.date-container
						.date-container-inner
							#preview-date
								= diary.post_date
