%p#notice(style="display: none;")= notice if notice.present? 
#mobile-menu.side-nav
  = render 'diaries/shared/mobile_menu'
.row
  - @diaries.each do | diary |
    .col.s4.gallery-cell
      .card
        .card-image
          = link_to diary do 
            = diary_image diary
.fixed-action-btn
  = link_to new_diary_path, class: ['btn-floating','btn-large','waves-effect', 'waves-light','red'] do 
    %i.material-icons note_add
