%p#notice= notice
%p
  %strong Word:
  = @diary.word
%p
  %strong Weather:
  = @diary.weather
%p
  %strong Temperature:
  = @diary.temperature
%p
  %strong Image:
  = image_tag @diary.image.url
= link_to 'Edit', edit_diary_path(@diary)
|
= link_to 'Back', diaries_path
