!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
    %title WordDiary
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.top-nav
        .container
          .nav-wrapper
            %a.brand-logo W
            %a.button-collapse(data-activates="mobile-menu")
              %i.material-icons menu
            %ul.right.hide-in-med-and-down
              %li
                = yield(:title).presence || "Title"
              %li 
                %a
                  %span.icon
                    %i.fa.fa-github
              %li
                %a
                  %span.icon
                    %i.fa.fa-twitter
            %ul#mobile-menu.side-nav
              %li
                = yield(:title).presence || "Title"
              %li 
                %a
                  %span.icon
                    %i.fa.fa-github
              %li
                %a
                  %span.icon
                    %i.fa.fa-twitter
    .container
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
